<% provide(:title, "Actualité") %>
<header class="headerother">
    <nav>
        <div class="row">
            <a href="/"><%= image_tag("logo.png",size: "400x80", :alt => "Logo FindForMe",:class => "logo") %></a>
            <ul class="main-nav">
                <li><a href="/films">Les Films</a></li>
                <li><a href="/préinscription">Préinscription</a></li>
                <li><a href="/actualité">Notre Actualité</a></li>
                <li><a id="iconInstagram" class="socialIcon" target="blank" href="https://instagram.com"><i class="socialIcon fab fa-instagram"></i></a></li>
                <li><a id="iconFacebook" class="socialIcon" target="blank" href="https://facebook.com"><i class="socialIcon fab fa-facebook-f"></i></a></li>
            </ul>
            <div class="main-navToggle">
                <span class="main-navToggleIcon"></span>
            </div>
        </div>
    </nav>
</header>
<div class="main_d">
  <div class="container">
    <h2 class="films-title">Notre actualité</h2>
    <div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ouverture des préinscription</h5>
      <p class="card-text">Vous pouvez des à présent vous préinscrire pour notre festival de cette été qui se déroulera du 22 au 24 juin rendez vous sur notre site</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">@filmpleinair <i class="fab fa-twitter" style="color:#00acee;"></i> Samedi 09/03/19</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Nouveau film à l'affiche</h5>
      <p class="card-text">Matrix rejoint les films du festival ! N'hésitez pas à vous préinscire sur notre site </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">@filmpleinair <i class="fab fa-twitter" style="color:#00acee;" ></i> Lundi 11/03/19</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Un Nouveau partenaire</h5>
      <p class="card-text">Nous avons le plaisir de vous annoncer que les bières jupiler font à présent partie des partenaires de notre festival.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">@filmpleinair <i class="fab fa-twitter" style="color:#00acee;"></i> Mardi 12/03/19</small>
    </div>
  </div>
</div>
  </div>
</div>
