<% provide(:title, "Films") %>
<header class="headerother">
    <nav>
        <div class="row">
            <a href="/"><%= image_tag("logo.png",size: "400x80", :alt => "Logo FindForMe",:class => "logo") %></a>
            <ul class="main-nav">
                <li><a href="/films">Les Films</a></li>
                <li><a href="/préinscription">Préinscription</a></li>
                <li><a href="/actualité">Notre Actualité</a></li>
                <li><a id="iconInstagram" class="socialIcon" target="blank" href="https://instagram.com"><i class="socialIcon fab fa-instagram"></i></a></li>
                <li><a id="iconFacebook" class="socialIcon" target="blank" href="https://facebook.com"><i class="socialIcon fab fa-facebook-f"></i></a></li>
            </ul>
            <div class="main-navToggle">
                <span class="main-navToggleIcon"></span>
            </div>
        </div>
    </nav>
</header>
<div class="main_div">
  <div class="container">
  <h2 class="films-title">Les films du festival </h2>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://images.affiches-et-posters.com//albums/3/2896/2896-affiche-film-matrix.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Il dépeint un futur dystopique dans lequel la réalité perçue par la plupart des humains est en fait une simulation virtuelle appelée la « Matrice », créée par des machines douées d'intelligence afin de soumettre la population humaine et de se servir de la chaleur et de l'activité électrique de leur corps comme source d'énergie.</p>
        </div>
      </div>
              <a class="btn btn-full"  style="margin-left:65px; margin-top:10px;"href="/préinscription">Réserver une place</a>

    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://static1.purepeople.com/articles/2/72/63/2/@/547997-l-affiche-du-film-the-fighter-950x0-2.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Fighter ou Le coup de grâce au Québec (en version originale anglaise The Fighter) est un film dramatique américain réalisé par David O. Russell, sorti en 2010. Basé sur la vie du boxeur professionnel Micky Ward, incarné par Mark Wahlberg et de son demi-frère Dicky Eklund, interprété par Christian Bale.</p>
        </div>
      </div>
              <a class="btn btn-full"  style="margin-left:65px; margin-top:10px;" href="/préinscription">Réserver une place</a>

    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bd/Posterofcenturion.jpg/220px-Posterofcenturion.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Gladiator revisite le genre du péplum, dont un des derniers films majeurs était Spartacus, sorti en 1960. Le film ne se fonde pas sur des événements réels mais reprend les noms et certains traits de personnalité de l'empereur Marc Aurèle et de ses enfants Commode et Lucilla. L'intrigue raconte la chute du général romain Maximus Decimus</p>
        </div>
      </div>
              <a class="btn btn-full"  style="margin-left:65px; margin-top:10px;"href="/préinscription">Réserver une place</a>

    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71w3h7llKuL._SY445_.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">En 117 ap. J.-C., sous l'Empire romain, les légions font face à la résistance farouche des Pictes au nord la province romaine de Bretagne (au sud de l'actuelle Grande-Bretagne). Le centurion Quintus Dias, unique survivant d'une garnison massacrée par les Pictes, rejoint la 9e légion, commandée par le général Titus Flavius Virilus, chargée de lancer une attaque décisive contre les Pictes et leur roi Gorlacon.</p>
        </div>
      </div>
              <a class="btn btn-full"  style="margin-left:65px; margin-top:10px;"href="/préinscription">Réserver une place</a>

    </div>
  </div>
</div>
</div>
