<% provide(:title, "Accueil") %>
<div class="mainTextBox">
    <h1>Les meilleurs films<br> En plein air.</h1>
    <a class="btn btn-full" href="#">Nous Contacter</a>
    <a class="btn btn-ghost" href="#voirplus">Voir plus <i class="fas fa-angle-down"></i></a>
</div>
<section id="voirplus" class="section-1">
    <div class="row">
        <h2 class="hide" id="headingSection-1"><i class="fas fa-film"></i>Plus de 40 Films au programme</h2>
        <p class="hide text-section-1">
        Des films de divers genres, de toute époque<br>afin de pouvoir sélectionner les meilleurs produits possible<br> pour confectionner des plats d’une grande fraîcheur .
        </p>
    </div>
</section>
<section class="section-2">
    <div class="row">
        <h2 class="hide" id="headingSection-2"><i class="fas fa-calendar-day"></i> 3 Jours de festival</h2>
        <p class="hide text-section-2">
        Nos produits sont travaillé dès le retour du marché<br>pour assurer une grande fraîcheur dans la confection de nos plats<br>afin satisfaire au mieux nos fidèle clients
        </p>
    </div>
</section>
<section class="section-3">
    <div class="row">
        <h2 class="hide" id="headingSection-3"><i class="sectionIcon fas fa-map-marked-alt"></i> 5 Hectars dédié au projections</h2>
        <p class="hide text-section-3">
        Nous vous proposons une cuisine familiale composé de produits<br>sélectionnés minutieusement auprès de nos différents fournisseurs locaux<br>
        vous pouvez retrouvez sur notre carte un large choix de plats typiquement alsaciens mais pas que !
        </p>
    </div>
</section>
<section class="aboutSection">
    <div class="row">
        <h2 id="headingAboutSection">&Agrave; Propos</h2>
        <p id="about" class="text-About">Cela fait maintenant plus de 24 ans qui nous avons le plaisir de vous recevoir dans notre auberge familiale</p>
        <p class="text-About">Nous tenons également à travailler le plus possible avec des producteurs locaux.
            Ce qui nous permet d'avoir toujours des produits frais et de la meilleure qualité, mais également de réduire les intermédiaires et de favoriser les circuits court,
            Grace à cela les agriculteurs de notre région sont rétribué alors leurs justes valeurs
        </p>
    </div>
</section>
