<% provide(:title, "Accueil") %>
<header class="headerCut">
    <nav>
        <div class="row">
            <a href="/"><%= image_tag("logo.png",size: "400x80", :alt => "Logo FindForMe",:class => "logo") %></a>
            <ul class="main-nav">
                <li><a href="/films">Les Films</a></li>
                <li><a href="/préinscription">Préinscription</a></li>
                <li><a href="/actualité">Notre Actualité</a></li>
                <li><a id="iconInstagram" class="socialIcon" target="blank" href="https://instagram.com"><i class="socialIcon fab fa-instagram"></i></a></li>
                <li><a id="iconFacebook" class="socialIcon" target="blank" href="https://facebook.com"><i class="socialIcon fab fa-facebook-f"></i></a></li>
            </ul>
            <div class="main-navToggle">
                <span class="main-navToggleIcon"></span>
            </div>
        </div>
    </nav>
</header>

<div class="mainTextBox">
    <h1>Les meilleurs films<br> En plein air.</h1>
    <a class="btn btn-full" href="/préinscription">Préinscription</a>
    <a class="btn btn-ghost" href="#voirplus">Voir plus <i class="fas fa-angle-down"></i></a>
</div>
<section id="voirplus" class="section-1">
    <div class="row">
        <h2 class="hide" id="headingSection-1"><i class="fas fa-film"></i> Plus de 40 Films au programme</h2>
        <p class="hide text-section-1">
        Des films de divers genres, de toute époque<br>Pour les petits comme les grands<br> Pour s'émouvoir, voyager, et se faire peur
        </p>
    </div>
</section>
<section class="section-2">
    <div class="container">
        <h2 class="hide" id="headingSection-2"><i class="fas fa-calendar-day"></i> 3 Jours de festival</h2>
        <p class="hide text-section-2">
          Durant 3 jours vous allez pouvoir profiter de plusieurs films <br>du vendredi au dimanche plus de 13 films sont au programme
        </p>
    </div>
</section>
<section class="section-3">
    <div class="row">
        <h2 class="hide" id="headingSection-3"><i class="sectionIcon fas fa-map-marked-alt"></i> 5 Hectars dédié au projections</h2>
        <p class="hide text-section-3">
          Pour vous permettre de profiter de la filmographie du festival<br>Nous avons cette année plus de 5 Hectares dédié au festival.<br>Qui n'a jamais rêvé de regarder un bon film en pleine nature ?
        </p>
    </div>
</section>
<section class="aboutSection">
    <div class="container">
        <h2 id="headingAboutSection">&Agrave; Propos</h2>
        <p id="about" class="text-About">Cela fait maintenant 4 ans que nous avons le plaisir de partager notre amour du cinéma</p>
        <p class="text-About">Nous tenons également à travailler le plus possible avec des réalisateurs français.
Chaque année, nous faisons notre maximum pour vous proposer un festival à la hauteur de vos attentes, entre les films d'exception
Les guets et nos bénévoles, vous allez passer un agréable moment cet été en notre compagnie
        </p>
    </div>
</section>
