<% provide(:title, "Préinscription") %>
<header class="headerother">
    <nav>
        <div class="row">
            <a href="/"><%= image_tag("logo.png",size: "400x80", :alt => "Logo FindForMe",:class => "logo") %></a>
            <ul class="main-nav">
                <li><a href="/films">Les Films</a></li>
                <li><a href="/préinscription">Préinscription</a></li>
                <li><a href="/actualité">Notre Actualité</a></li>
                <li><a id="iconInstagram" class="socialIcon" target="blank" href="https://instagram.com"><i class="socialIcon fab fa-instagram"></i></a></li>
                <li><a id="iconFacebook" class="socialIcon" target="blank" href="https://facebook.com"><i class="socialIcon fab fa-facebook-f"></i></a></li>
            </ul>
            <div class="main-navToggle">
                <span class="main-navToggleIcon"></span>
            </div>
        </div>
    </nav>
</header>
<div class="main_d">
  <div class="container">
      <div class="row">
    <div class="col">
        <h2 class="films-title">Présinscription </h2>
        <form>
        <p>Votre Nom</p>
        <input type="text" name="name"><br><br>
        <p>Choisisez une date du 5 au 8 août 2019</p>
        <input type="date" name="bday"><br><br>
        <p>Combien de place souhaitez vous réserver ?</p>
        <input type="text" name="nb"><br><br>
        <input class="btn btn-primary" type="submit" value="Réserver">
        </form>
        </div>
    <div class="col">
      <h3>5 Août 2019</h3>
        <p>19h00 - Cérémonie d'ouverture du festival<p>
        <h3>6 Août 2019</h3>
        <p> 18h00 - Matrix Croire à l'incroyable<p>
        <h3>7 Août 2019</h3>
        <p> 18h00 - The Fighter
        <h3>8 Août 2019</h3>
        <p>15h00 - Centurion Fight or Die<p>
        <p>19h00 - Gladiator<p>
        <p>21h30 - Cérémonie de cloture du festival</p>
    </div>
  </div>
  </div>
</div>

