<% provide(:title, "Réservation") %>
<div class="mainText">
    <h2>Réserver votre table en ligne !</h2>
    <p>Une fois votre réservation effectuer vous receverrais un email de confirmation dans l'heure.<br>
    <i id="info">Pour annuler une réservation veuillez nous envoiez un email à cette adresse : contact@auberge-eschau.fr</i>
    </p>
</div>
<div class="main-form">
</div>