<footer>
<div class="row">
    <div class="col span-1-of-2">
        <ul class="footerNav">
          <li><a href="/films">Les Films</a></li>
          <li><a href="/préinscription">Préinscription</a></li>
          <li><a href="/actualité">Notre Actualité</a></li>
        </ul>
    </div>
    <div class="col span-1-of-2">
        <ul class="footerLinks">
            <li><a href="https://instagram.com"target="_blank"><i id="footerInstagram" class="fab fa-instagram"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i id="footerFacebook" class="fab fa-facebook-f"></i></a></li>
            <li><a href="contact.html"><i id="footerEmail" class="fas fa-envelope"></i></a></li>
        </ul>
    </div>
</div>
<div>
    <p>
        Tout droit réservé &copy; 2019 Les films de plein air
    </p>
</div>
</footer>
