<header class="headerCut">
    <nav>
        <div class="row">
            <a href="/"><%= image_tag("logo.png",size: "400x80", :alt => "Logo FindForMe",:class => "logo") %></a>
            <ul class="main-nav">
                <li><a href="#about">&Agrave; Propos</a></li>
                <li><a href="/reservation">Réserver</a></li>
                <li><a href="contact.html">Nous Contacter</a></li>
                <li><a id="iconInstagram" class="socialIcon" target="blank" href="https://instagram.com"><i class="socialIcon fab fa-instagram"></i></a></li>
                <li><a id="iconFacebook" class="socialIcon" target="blank" href="https://facebook.com"><i class="socialIcon fab fa-facebook-f"></i></a></li>
            </ul>
            <div class="main-navToggle">
                <span class="main-navToggleIcon"></span>
            </div>
        </div>
    </nav>
</header>
